<% if @task.destroyed? %>
  $('#task-' +<%= @task.id %>).wrap("<strike>").delay(300).fadeOut(1800);
<% else %>
  $('#task-' +<%= @task.id %>).prepend("<div class='validation'><%= flash[:error] = "Error. Try again please." %></div>");
<% end %>