.row.adding
  .medium-container
    = render partial: "form"
.row.tasking
  .medium-container
    -if user_signed_in?
      .ui.piled.segment
        %h1.header.center
          Tasks
        .ui.horizontal.icon.divider
          %i.circular.heart.icon.red
        %ul#tasksm
          = render @tasks.reverse_order
    - else
      %h1.header.center
        Simple Task

