.ui.one.column.page.grid
  .column
    %h1
      %i.circular.inverted.cloud.teal.icon
      Simple Tasks
    %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form...
.one.column.page.ui.grid
  .column
    .ui.segment
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
