/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 //= require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 *= require_tree .
 */

a {
  text-decoration: none;
  color: #E28585;
}

.validation {
  color: #FF9999;
  font-size: .8rem;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

.medium-container {
  max-width: 600px;
  margin: 0 auto;
}

.centered {
  text-align: center;
  margin: 0 auto;
}

.ui.form .inline.fields .field > label, .ui.form .inline.fields .field > p, .ui.form .inline.fields .field > .ui.input, .ui.form .inline.fields .field > input, .ui.form .inline.field > label, .ui.form .inline.field > p, .ui.form .inline.field > .ui.input, .ui.form .inline.field > input.full-width {
  width: 80%;
}

.ui.form .field {
  margin-left: 1em;
  margin-top: .5em;
  margin-bottom: .6em;
}

.submit-container {
  display: inline-block !important;
}

i.inverted.teal.icon{
  font-size: .7em;
  margin-top: -10px;
}

span.nav-title {
  font-weight: 600;
  color: #555555;
}

.ui.menu:not(.vertical) .item > .button {
  margin-top: 0px;
}


.ui.labeled.input input {
  padding-left: 2.5em !important;
}


/*TASKS INDEX*/
.listall {
  margin-left: 5%;
}

.all-tasks {
  padding-top: 3px;
}

.task-list {
  list-style-type: none;
}

.checkbox-container {
  position: relative;
}

.tasks i.empty.checkbox.large.icon {
  position: absolute;
  margin-top: 3px;
  color: #878787;
}

button, input, optgroup, select, textarea {
  color: red;
}

.tasks i.empty.checkbox.large.icon:hover {
  opacity: 0;
  position: absolute;
  margin-top: 3px;
}

.tasks i.checkmark.sign.large.icon {
  opacity: 0;
  position: absolute;
  transition: all 300ms ease;
  margin-top: 3px;
}
.tasks i.checkmark.sign.large.icon:hover {
  opacity: 100;
  position: absolute;
  margin-top: 3px;
}



.task-font {
  padding-left: 40px;
  font-size: 1.1rem;
  margin-bottom: 0;
}

small.light {
  font-size: .7rem;
  color: grey;
  padding-left: 40px;
}

.best_in_place {
  transition: all 500ms ease;
}

.best_in_place:hover {
  background: #fff8f7;
}

.task-icon-edit {
  margin-left: 4px;
  color: #939393;
  transition: all 500ms ease;
}

.task-icon-edit:hover {
  color: #FF6347;
}

.new-button {

  transition: all 300ms ease;
}

.new-button:hover {

  color: red;

}

i.add.sign.icon.large {
  margin: 0;
  padding: 0;
}

h1.header.center {
  text-align: center;
  clear: both;
}

.add-new {
  float: left;
  margin-top: -22px;
}

.tasking {
  margin-top: 30px;
}

.adding {
  margin-top: 5px;
}



@media screen and (max-width: 585px) {

.ui.form .inline.fields .field > label, .ui.form .inline.fields .field > p, .ui.form .inline.fields .field > .ui.input, .ui.form .inline.fields .field > input, .ui.form .inline.field > label, .ui.form .inline.field > p, .ui.form .inline.field > .ui.input, .ui.form .inline.field > input.full-width {
  width: 75%;
}

.ui.form .field {
  margin-left: 1em;
  margin-top: .5em;
  margin-bottom: .6em;
}

}

@media screen and (max-width: 479px) {

.ui.form .inline.fields .field > label, .ui.form .inline.fields .field > p, .ui.form .inline.fields .field > .ui.input, .ui.form .inline.fields .field > input, .ui.form .inline.field > label, .ui.form .inline.field > p, .ui.form .inline.field > .ui.input, .ui.form .inline.field > input.full-width {
  width: auto;
}

.ui.form .field {
  margin-left: 1em;
  margin-top: .5em;
  margin-bottom: .6em;
}

}

@media screen and (max-width: 421px) {

.ui.form .inline.fields .field > label, .ui.form .inline.fields .field > p, .ui.form .inline.fields .field > .ui.input, .ui.form .inline.fields .field > input, .ui.form .inline.field > label, .ui.form .inline.field > p, .ui.form .inline.field > .ui.input, .ui.form .inline.field > input.full-width {
  width: 100%;

}

.ui.form .field {
  margin-left: 0em;
  margin-top: .5em;
  margin-bottom: .6em;
}

.submit-container {
  display: block !important;
  padding-top: 15px;
  margin: 0 auto !important;
}

}












