/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 //= require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 *= require_tree .
 */

a {
  text-decoration: none;
  color: tomato;
}

.validation {
  color: #FF9999;
  font-size: .8rem;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

.medium-container {
  max-width: 600px;
  margin: 0 auto;
}

.centered {
  text-align: center;
  margin: 0 auto;
}


/*TASKS INDEX*/
.listall {
  margin-left: 5%;
}

.all-tasks {
  padding-top: 3px;
}

.task-list {
  list-style-type: none;
}

.checkbox-container {
  position: relative;
}

.tasks i.empty.checkbox.large.icon {
  position: absolute;
  margin-top: 3px;
  color: #f98e8e;
}

.tasks i.empty.checkbox.large.icon:hover {
  opacity: 0;
  position: absolute;
  margin-top: 3px;
}

.tasks i.checkmark.sign.large.icon {
  opacity: 0;
  position: absolute;
  transition: all 300ms ease;
  margin-top: 3px;
}
.tasks i.checkmark.sign.large.icon:hover {
  opacity: 100;
  position: absolute;
  margin-top: 3px;
}

.task-font {
  padding-left: 40px;
  font-size: 1.1rem;
  margin-bottom: 0;
}

small.light {
  font-size: .7rem;
  color: grey;
  padding-left: 40px;
}







